<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/fonts/Staatliches-Regular.ttf">
  <link rel="stylesheet" href="/styles/index.css">
  <!-- Grab title from the page data and dump it here -->
  <title>{{ title }}</title>
</head>
<body class="container">
  <header class="page-header">
      <h1>{{website.title | upper}}</h1>
  </header>
  <main class="content">
    {%block main %}
    <h1 style="color: red">Page is missing "main" block<h1>
    {% endblock %}
  </main>
</body>
</html>