<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Fonts and Styles -->
  <link rel="stylesheet" href="/styles/fonts.css">
  <link rel="stylesheet" href="/styles/index.css">
  
  <!-- Page-specific styles -->
  {% block styles %}{% endblock %}

  <title>{{ title }}</title>
</head>
<body class="container">
  <header class="header">
      <h1 class="logo">
        <a href="{{website.url}}"><span>GREY</span><span>SCALED</span></a>
      </h1>
  </header>
  {%block main %}
  <main class="content">
    <h1 style="color: red">Page is missing "main" block<h1>
  </main>
  {% endblock %}
</body>
</html>