:root {
    --code-background: #101010;
    --code-foreground: #ebebeb;

    --code-token-comment: #7c7b7b;
    --code-token-keyword: #9d9d9d;
    --code-token-operator: #ebebeb;
    --code-token-number: #ebebeb;
    --code-token-string: #ebebeb;
    --code-token-function: #9d9d9d;
    --code-token-punctuation: #9d9d9d;
    --code-token-parameter: #ebebeb;
}

.blog-post-header {
    margin: 1.6em 0;
}

.blog-post-header_title {
    color: var(--white);
    background-color: var(--black);
    font-family: var(--font-title);
    font-size: var(--font-xxxlarge);

    margin: 0;
}

.blog-post-header_summary {
    font-family: var(--font-summary);
    font-size: var(--font-medium);

    margin: 0.6em 0;

    color: var(--grey);
}

.blog-post-content {
    font-family: var(--font-article);

    * {
        margin: var(--content-spacing) 0 0;
    }

    h2 {
        margin-top: var(--content-spacing);
        font-size: var(--font-xxlarge);
    }

    h2, h3 {
        margin-top: calc(var(--content-spacing) * 2);
    }

    code {
        padding: 5px;
        border-radius: 5px;

        color: var(--white);
        background-color: var(--black);
    }

    pre {
        padding: 15px;
        border-radius: 5px;

        color: var(--code-foreground);
        background-color: var(--code-background);
    }

    p, pre {
        font-size: var(--font-medium);
    }

    blockquote {
        padding-left: 15px;
        border-left: 5px solid black;
    }

    strong {
        font-family: 'Poppins Bold';
    }
}

.blog-post-content code {
    & > .comment { color: var(--code-token-comment); }
    & > .keyword { color: var(--code-token-keyword); font-weight: bold; }
    & > .operator { color: var(--code-token-operator); }
    & > .number { color: var(--code-token-number); font-weight: bold; }
    & > :is(.string, .template-string) { color: var(--code-token-string); font-style: italic; }
    & > .function { color: var(--code-token-function); }
    & > .punctuation { color: var(--code-token-punctuation); }
    & > .parameter { color: var(--code-token-parameter); }
}