.page {
    max-width: 49rem;
    margin: 0 auto;
    padding: 0 var(--content-spacing);

    color: var(--black);
    background-color: var(--white);

    @media (--viewport-mobile) {
        padding: 0 1rem;
    }
}

.logo {
    margin: 0;
    padding: 0.2rem 0;

    & .logo-link {
        font-size: calc(var(--font-xxxlarge) * 1.25);

        &:hover {
            color: var(--black);
            background-color: var(--white);
        }

        &:focus {
            outline: none;
        }

        & span {
            display: inline-block;
            padding: 0 0.2em;

            font-weight: 600;
            font-family: var(--font-logo);

            &:first-child {
                color: var(--black);
                padding-left: 0;
            }

            &:last-child {
                color: var(--white);
                background-color: var(--black);
            }
        }
    }

    @media screen and (max-width: var(--viewport-mobile)) {
        display: flex;
        justify-content: center;
    }
}

.summary {
    font-family: var(--font-summary);
    font-size: var(--font-medium);

    margin: 0.8rem 0;

    color: var(--grey);
}

.article-block {
    & header {
        gap: 0.4rem;
        display: flex;
        flex-direction: column;

        & p {
            margin: 0;
            font-size: var(--font-small);
        }

        & span {
            font-size: var(--font-xsmall);
        }
    }
}

.meta {
    & > * + *:before {
        content: " | ";
    }
}
