@custom-media --viewport-mobile (max-width: 480px);

:root {
    --white: rgb(252, 252, 253);
    --black: rgb(13, 13, 13);
    --grey: rgb(112, 110, 135);

    --font-logo: 'Staatliches';
    --font-title: 'Sintony Bold';
    --font-summary: 'Sintony';
    --font-article: 'Poppins';

    --font-xxxlarge: 48px;
    --font-xxlarge: 40px;
    --font-xlarge: 34px;
    --font-large: 28px;
    --font-medium: 20px;
    --font-small: 16px;
    --font-xsmall: 14px;
    --font-xxsmall: 12px;

    --content-spacing: 22px;

    /* Code theme */
    --code-background: #101010;
    --code-foreground: #ebebeb;

    --code-token-comment: #7c7b7b;
    --code-token-keyword: #9d9d9d;
    --code-token-operator: #ebebeb;
    --code-token-number: #ebebeb;
    --code-token-string: #ebebeb;
    --code-token-function: #9d9d9d;
    --code-token-punctuation: #9d9d9d;
    --code-token-parameter: #ebebeb;
}