:root {
    /* Colors */
    --white: rgb(252, 252, 253);
    --black: rgb(13, 13, 13);
    --grey: rgb(112, 110, 135);

    /* Font family */
    --font-logo: 'Staatliches';
    --font-title: 'Sintony Bold';
    --font-summary: 'Sintony';
    --font-article: 'Poppins';

    /* Font size */
    --font-xxxlarge: 3rem;
    --font-xxlarge: 2.5rem;
    --font-xlarge: 2.125rem;
    --font-large: 1.75rem;
    --font-medium: 1.25rem;
    --font-small: 1rem;
    --font-xsmall: 0.875rem;
    --font-xxsmall: 0.75rem;

    /* Spacing */
    --content-spacing: 1.4rem;
    --spacing-15: 0.9375rem;
    --spacing-10: 0.625rem;
    --spacing-5: 0.3125rem;

    /* Code theme */
    --code-background: #101010;
    --code-foreground: #ebebeb;

    --code-token-comment: #7c7b7b;
    --code-token-keyword: #9d9d9d;
    --code-token-operator: #ebebeb;
    --code-token-number: #ebebeb;
    --code-token-string: #ebebeb;
    --code-token-function: #9d9d9d;
    --code-token-punctuation: #9d9d9d;
    --code-token-parameter: #ebebeb;
}

@media screen and (max-width: 480px) {
    html {
        font-size: 14px;
    }
}