h1 {
    font-family: var(--font-title);
    font-size: var(--font-xxxlarge);

    margin: 1.25rem 0 1rem;
}

h2 {
    font-size: var(--font-xlarge);
}

h3 {
    font-size: var(--font-large);
}

h4 {
    font-size: var(--font-medium);
}

a {
    color: var(--black);
    border-bottom: 1px solid var(--black);
    box-shadow: var(--black) 0 -2px 0 0 inset;
}

a:hover {
    color: var(--white);
    background-color: var(--black);
}

a:focus {
    outline: 2px dashed var(--black);
    outline-offset: 0.2rem;
}

code {
    padding: 5px;
    border-radius: 5px;

    color: var(--white);
    background-color: var(--black);

    &, & * {
        font-family: monospace;
    }
}

pre {
    padding: 15px;
    border-radius: 5px;

    overflow-y: scroll;

    color: var(--code-foreground);
    background-color: var(--code-background);
}

p, pre, li {
    font-size: var(--font-medium);
}

blockquote {
    padding-left: 15px;
    border-left: 5px solid black;
}

strong {
    font-family: 'Poppins Bold';
}