<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <!-- Fonts and Styles -->
    <link rel="stylesheet" href="/styles/fonts.css">
    <link rel="stylesheet" href="/styles/index.css">

    <!-- Design System -->
    <link rel="stylesheet" href="/styles/resets.css">
    <link rel="stylesheet" href="/styles/defaults.css">
    <link rel="stylesheet" href="/styles/tokens.css">
    <link rel="stylesheet" href="/styles/components.css">
    <link rel="stylesheet" href="/styles/utilities.css">

    <!-- Code Theme -->
    <link rel="stylesheet" href="/styles/code-theme.css">

    <!-- Open Graph -->
    <meta property="og:url" content="{{website.url}}{{page.url}}">
    <meta property="og:title" content="{{opengraph.title or title or page_data.title or website.title}}">
    <meta property="og:description" content="{{opengraph.description or summary or page_data.summary}}">
    {% for entry in opengraph %}
      {% for property, content in entry %}
        {% if property !== "description" or property !== "title" %}
          <meta property="{{property}}" content="{{content}}">
        {% endif %}
      {% endfor %}
    {% endfor %}

    <title>{{ title or page.data.title or website.title }}</title>
  </head>
  <body class="page">
    <header>
      <div class="logo">
        <a class="logo-link link-undecorate" href="/">
          <span>GREY</span><span>SCALED</span>
        </a>
      </div>
    </header>
    <main>
      {{ content | safe }}
    </main>
  </body>
</html>