---
layout: "layouts/index.njk"
page_data:
    title: Greyscaled.io
    summary: Jack of none trades.
---

<main>
    <h3 class="summary">
        {{page_data.summary}}
    </h3>
    {% for post in collections.posts %}
        <article class="article-block">
            <header>
                <h3>
                    <a class="link-undecorate" href="{{post.data.page.url}}">{{post.data.title}}</a>
                </h3>
                <p>{{post.data.summary}}</p>
                <div class="meta">
                    <span>{{post.data.page.date | readableDateString}}</span>
                    <span>{{post.data.length}} min read</span>
                    <span>
                        {% for tag in collections.tagList %}
                            {# Exclude "posts" tag from being shown #}
                            <a href="/tags/{{tag}}">#{{tag}}</a>
                        {% endfor %}
                    </span>
                </div>

            </header>
        </article>
    {% endfor %}
</main>