{% extends "layout.njk" %}

{% block main %}
    <h3 class="summary">Software engineer, open-source contributor, technical writer.<br/>I like to write about <a href="#">#webdev</a>.</h3>
{% endblock %}