---
    pagination:
        data: collections.tagList
        size: 1
        alias: tag
        filter:
            - all
            - post
            - tagList
        addAllPagesToCollections: true

    layout: "layouts/index.njk"
    permalink: "/tags/{{tag | slugify}}/"

    opengraph:
        - title: Posts by topic {{tag}}
---

<h2>Tagged #{{tag}}:</h2>
{% for post in collections[tag] %}
    <article class="article-block">
        <header>
            <h3>
                <a class="link-undecorate" href="{{post.data.page.url}}">{{post.data.title}}</a>
            </h3>
            <p>{{post.data.summary}}</p>
            <div class="meta">
                <span>{{post.data.page.date | formatDate("MMMM dd, yyyy")}}</span>
                <span>{{post.data.length}} min read</span>
                <span>
                    {% for tag in collections.tagList %}
                        {# Exclude "posts" tag from being shown #}
                        <a href="/tags/{{tag}}">#{{tag}}</a>
                    {% endfor %}
                </span>
            </div>

        </header>
    </article>
{% endfor %}